/* styles-tabletennis.css */

@page {
    margin: 2cm;
    size: A4 portrait;
}

body.tabletennis-page {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #fafafa; 
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    background-color: #e44d26; 
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav {
    margin-top: 10px;
}

a.link {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #BC8F8F;
    transition: color 0.3s ease;
}

a.link:hover {
    color: #b82c00;
}

.section {
    margin-top: 20px;
}

p {
    font-size: 16px;
}

.content-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    align-items: center;
}

.table-info,
.equipment-info {
    margin-top: 20px;
    border: 1px solid #BC8F8F;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff; 
}

.table-info h2,
.equipment-info h2 {
    color: #e44d26; 
}

.table-info ul {
    list-style-type: square;
    margin-left: 20px;
}

footer {
    margin-top: 20px;
    text-align: center;
}

@layer background {
    background-image: url('tabletennis-background.jpg');
    background-size: cover;
}

@layer background:hover {
    filter: brightness(80%); 
